doctype html
html
  head
    title LOG IN
    meta(charset="utf-8") 
    script(src="http://code.jquery.com/jquery-3.3.1.min.js")    
    link(href="../css/post.css", rel="stylesheet")
  body
    header
    // Title
    div(class="title")
      p(class="title_title") 讓起床更有活力的睡前儀式
      div(class="title_account")
          p(class="acount_id") eric_50336
          img(class="accont_photo")

    // Image
    img(class="photo")
 
    // Interact
    div(class="interact")
      div(class="interact_likes")
        div(class="likes_heart")
          img(class="heart_logo") 
          p(class="heart_number") 326
        div(class="likes_pen")
          img(class="pen_logo")
          p(class="pen_logo") 23

    // Abstract
    p(class="abstract") 設立一個整齊有序的小空間，回到家後選個喜歡的時間坐在這裡，為一天做個總結。換上家居服，坐在鏡子前，調暗燈光，卸下臉上和心裡的裝扮。過程裡多些自我覺察，體驗慢下來的步調，靜靜享受和自己相處的時間，白天起床後，反向重複這個儀式，打理好精神奕奕的臉，把睡衣掛回吊衣桿上，換上準備好的穿搭，又是嶄新的一天。

    // Content
    div(class="content")
      p(class="content_title") About the room
      div(class="content_image")
        img(class="content_image_1")
        img(class="content_image_2")
      div(class="content_paragraph")
        p(class="content_paragraph_title") EKOLSUND 躺椅
        img(class="content_paragraph_stars")
      p(class="abstract_content") 設立一個整齊有序的小空間，回到家後選個喜歡的時間坐在這裡，為一天做個總結。換上家居服，坐在鏡子前，調暗燈光，卸下臉上和心裡的裝扮。過程裡多些自我覺察，體驗慢下來的步調，靜靜享受和自己相處的時間，白天起床後，反向重複這個儀式，打理好精神奕奕的臉，把睡衣掛回吊衣桿上，換上準備好的穿搭，又是嶄新的一天。
      div(class="content_category")
        p(class="category_title") Category
        div(class="category_content")
          p(class="category_content_first") 空間
          p(class="category_content_>") > 
          p(class="category_content_second") 套房
          p(class="category_content_>") >
          p(class="category_content_third") 5坪
      div(class="content_hashtag")
        p(class="content_hashtag_titile") Hashtag
        p(class="content_hashtag_first") ikea
        p(class="content_hashtag_second") 粉色
        p(class="content_hashtag_third") 北歐風
        p(class="content_hashtag_forth") 簡約
    
    // Requests
    div(class="requests")
      p(class="requests_title")
        div(class="requests_request")
          img(class="request_image")
          p(class="request_number")
          p(class="request_want") 我也想知道這個

    // Requeat
    div(class="request")
      img(class="request_icon")
      p(class="request_content") 單品請求

    script(src="../js/post.js")
